/*

Simple Left Style

This is a simple template for eboocz. It's intended for fiction and
contains the most basic elements of a book; half-title, title, 
copyright page, dedication, epigraph, part, chapter and table of content.
Headings, Title Page, Half Title Page, Dedication and Table of Content and 
Copyright Page are aligned left in this style.

Visit http://www.eboocz.com/styles for full reference

*/

html { text-rendering: optimizeLegibility !important; }
h1, h2, h3 { -webkit-hyphens: none !important; }

h1 {
	font-size: 2em;
	line-height: 1.1em;
	margin-top: 3em;
	margin-bottom: 2em;
	padding-top: 3em;
	page-break-before: always !important;
}

h1, h2, h3, h4, h5, h6 { 
	margin-top: 1em; 
	page-break-after: avoid !important; 
	text-align: left;
}
p { margin: 0; }
h1 + p::first-letter { font-size: 200%;}
p + p { margin: 0; text-indent: 1.5em; }
blockquote { font-style: italic;}
img { margin: 0;min-width: 100%;}