/*

Simple Left Dedication Page

The dedication has a top margin of 3em and it is centered. 

Some people like their dedication to be in emphasis You can
use regular Markdown to achieve this. 

There is no margin at p + p like in the copyright page, so all paragraphs will 
form one block of text.

Visit http://www.eboocz.com/styles for full reference

*/

p {
  padding-top: 0em;
  margin-right: 0px; 
  margin-left: 0px; 
  margin-top: 3em;
  text-align: left; 
  text-decoration: none; 
  text-indent: 0px;
  margin-bottom: 0em;
  }
p + p
	{ 
	margin-top: 0em; 
	padding-top: 0em;
	text-indent: 0px; 
	}