/*

Simple Centered Title Page

Title Page always consists of the title, subtitle (if available) and the author. You can also add the publisher, publisher city, and possibly other things. 
Styling: This title page is centered at the top of the page with a margin of 3em and the font-size is 100%. Use headings to add different sizes. Usually the title is heading 1 and the subtitle and author are smaller headings. But these rules are there to be broken and I've seen lots of books that use the h1 for the author. I guess it all depends on how important you think you are. :)

In case you want to add a picture to the Part Page, I made sure the image is on the same page, so no page breaks before and after. 

Visit http://www.eboocz.com/styles for full reference

*/

html { text-rendering: optimizeLegibility !important; }
h1, h2, h3 { -webkit-hyphens: none !important; }

h1 {
	font-size: 2em;
	line-height: 1.1em;
	margin-top: 3em;
	margin-bottom: 2em;
	padding-top: 3em;
	page-break-before: auto !important;
}

h1, h2, h3, h4, h5, h6 { 
	margin-top: 3em; 
	page-break-after: avoid !important; 
	text-align: center;
}

h2 + h1 {
	page-break-before: avoid;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	}

h3 + h1 {
	page-break-before: avoid;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	}
	
h4 + h1 {
	page-break-before: avoid;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	}

h5 + h1 {
	page-break-before: avoid;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	}
	
h6 + h1 {
	page-break-before: avoid;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 0em;
	}
	
img {
	margin: 0;min-width: 100%;
	page-break-before: avoid;
    page-break-after: avoid; 
    page-break-inside: avoid;
}

p {
  padding-top: 0em;
  margin-right: 0px; 
  margin-left: 0px; 
  margin-top: 1.5em;
  text-align: center; 
  text-decoration: none; 
  text-indent: 0px;
  margin-bottom: 0em;
  }
p + p
	{ 
  	text-align: center; 
	margin-top: 0em; 
	padding-top: 0em;
	text-indent: 0px; 
	}
	
	
	
