@font-face {
    font-family: Some Awesome Font;
    font-style: normal;
    font-weight: normal;
    src: url(someawesomefont.woff);
}

@font-face {
    font-family: Script;
    font-style: normal;
    font-weight: normal;
    src: url(AlexBrush-Regular.ttf);
}
